# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [69]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [70]:
weather_csv = "../WeatherPy/weather_data.csv"

weather_df = pd.read_csv(weather_csv)
weather_df.head()

,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,Bluff,NZ,1616220042,-46.6000,168.3333,57.99,89,76,8.99
1,Vaini,TO,1616220042,-21.2000,-175.2000,82.40,83,75,4.61
2,Albany,US,1616220042,42.6001,-73.9662,30.99,32,0,1.99
3,Kapaa,US,1616220043,22.0752,-159.3190,70.00,78,75,21.85
4,Carnarvon,AU,1616220043,-24.8667,113.6333,89.60,58,0,11.50

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [71]:
gmaps.configure(api_key=g_key)

In [72]:
humidity = weather_df["Humidity"].astype(float)
locations = weather_df[["Latitude", "Longitude"]].astype(float)

In [73]:
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity = 100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [81]:
max_temp = (weather_df["Max Temperature"] < 80) & (weather_df["Max Temperature"] > 70)
wind_speed = weather_df["Wind Speed"] < 10
cloudiness = weather_df["Cloudiness"] == 0
perfect_weather = max_temp & wind_speed & cloudiness
pw_df = weather_df[perfect_weather]
pw_df.dropna()
pw_df
pw_df.reset_index()

,index,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,39,Marzuq,YE,1616220050,14.4000,46.4667,79.16,10,0,1.52
1,43,Itaguaí,BR,1616220051,-22.8522,-43.7753,79.00,94,0,1.14
2,123,Launceston,AU,1616219808,-41.4500,147.1667,75.00,40,0,9.22
3,127,Oodweyne,SO,1616220069,9.4092,45.0640,74.59,46,0,8.01
4,150,Aswān,EG,1616220075,24.0934,32.9070,77.00,20,0,7.76
5,278,Acapulco de Juárez,MX,1616220104,16.8634,-99.8901,74.70,70,0,3.47
6,305,Najrān,SA,1616220110,17.4924,44.1277,71.60,20,0,1.97
7,374,Pochutla,MX,1616220126,15.7432,-96.4661,73.99,73,0,3.04
8,435,Maricá,BR,1616220142,-22.9194,-42.8186,79.00,88,0,4.61
9,481,Touros,BR,1616220152,-5.1989,-35.4608,77.00,88,0,4.61
10,494,Manta,EC,1616220155,-0.9500,-80.7333,77.00,88,0,3.44
11,546,São João da Barra,BR,1616220167,-21.6403,-41.0511,75.40,91,0,9.82
12,554,São José da Coroa Grande,BR,1616220168,-8.8978,-35.1478,76.86,82,0,5.44
13,566,Lima,PE,1616219912,-12.0432,-77.0282,73.00,88,0,9.22

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [82]:
hotel_df = pw_df
hotel_df["Hotel Name"] = ""
hotel_df

C:\Users\andre\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Hotel Name
39,Marzuq,YE,1616220050,14.4000,46.4667,79.16,10,0,1.52,
43,Itaguaí,BR,1616220051,-22.8522,-43.7753,79.00,94,0,1.14,
123,Launceston,AU,1616219808,-41.4500,147.1667,75.00,40,0,9.22,
127,Oodweyne,SO,1616220069,9.4092,45.0640,74.59,46,0,8.01,
150,Aswān,EG,1616220075,24.0934,32.9070,77.00,20,0,7.76,
278,Acapulco de Juárez,MX,1616220104,16.8634,-99.8901,74.70,70,0,3.47,
305,Najrān,SA,1616220110,17.4924,44.1277,71.60,20,0,1.97,
374,Pochutla,MX,1616220126,15.7432,-96.4661,73.99,73,0,3.04,
435,Maricá,BR,1616220142,-22.9194,-42.8186,79.00,88,0,4.61,
481,Touros,BR,1616220152,-5.1989,-35.4608,77.00,88,0,4.61,
494,Manta,EC,1616220155,-0.9500,-80.7333,77.00,88,0,3.44,
546,São João da Barra,BR,1616220167,-21.6403,-41.0511,75.40,91,0,9.82,
554,São José da Coroa Grande,BR,1616220168,-8.8978,-35.1478,76.86,82,0,5.44,
566,Lima,PE,1616219912,-12.0432,-77.0282,73.00,88,0,9.22,

In [98]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius" : 5000,
    "type" : "hotel",
    "keyword": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lon = row["Longitude"]
    
    params["location"] = f"{lat},{lon}"
    
    print(f"Retrieving Results for Index {index}: {lat}, {lon}.")
    response = requests.get(base_url, params = params).json()
    
    results= response["results"]
    
    try:
        print(f"Closest hotel to {lat}, {lon} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("----------")

Retrieving Results for Index 39: 14.4, 46.4667.
Missing field/result... skipping.
----------
Retrieving Results for Index 43: -22.8522, -43.7753.
Closest hotel to -22.8522, -43.7753 is Hotel Promenade Fusion Itaguaí.
----------
Retrieving Results for Index 123: -41.45, 147.1667.

C:\Users\andre\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest hotel to -41.45, 147.1667 is Pod Inn.
----------
Retrieving Results for Index 127: 9.4092, 45.06399999999999.
Closest hotel to 9.4092, 45.06399999999999 is Al shukri hotel.
----------
Retrieving Results for Index 150: 24.0934, 32.907.
Closest hotel to 24.0934, 32.907 is Sofitel Legend Old Cataract Aswan.
----------
Retrieving Results for Index 278: 16.8634, -99.8901.
Closest hotel to 16.8634, -99.8901 is Hotel Las Brisas Acapulco.
----------
Retrieving Results for Index 305: 17.4924, 44.1277.
Missing field/result... skipping.
----------
Retrieving Results for Index 374: 15.7432, -96.4661.
Missing field/result... skipping.
----------
Retrieving Results for Index 435: -22.9194, -42.8186.
Closest hotel to -22.9194, -42.8186 is Pousada Bela Vista Maricá.
----------
Retrieving Results for Index 481: -5.1989, -35.4608.
Closest hotel to -5.1989, -35.4608 is Hotel Vila Gale Touros.
----------
Retrieving Results for Index 494: -0.95, -80.7333.
Closest hotel to -0.95, -80.7333 is Hotel Vistalmar.
----------
Retrieving Results for Index 546: -21.6403, -41.0511.
Closest hotel to -21.6403, -41.0511 is Pousada Kactus.
----------
Retrieving Results for Index 554: -8.8978, -35.1478.
Closest hotel to -8.8978, -35.1478 is Bangalôs de Peroba.
----------
Retrieving Results for Index 566: -12.0432, -77.0282.
Closest hotel to -12.0432, -77.0282 is Hotel Diamond.
----------

In [99]:
hotel_df

,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Hotel Name
39,Marzuq,YE,1616220050,14.4000,46.4667,79.16,10,0,1.52,Hotel Diamond
43,Itaguaí,BR,1616220051,-22.8522,-43.7753,79.00,94,0,1.14,Hotel Promenade Fusion Itaguaí
123,Launceston,AU,1616219808,-41.4500,147.1667,75.00,40,0,9.22,Pod Inn
127,Oodweyne,SO,1616220069,9.4092,45.0640,74.59,46,0,8.01,Al shukri hotel
150,Aswān,EG,1616220075,24.0934,32.9070,77.00,20,0,7.76,Sofitel Legend Old Cataract Aswan
278,Acapulco de Juárez,MX,1616220104,16.8634,-99.8901,74.70,70,0,3.47,Hotel Las Brisas Acapulco
305,Najrān,SA,1616220110,17.4924,44.1277,71.60,20,0,1.97,Hotel Diamond
374,Pochutla,MX,1616220126,15.7432,-96.4661,73.99,73,0,3.04,Hotel Diamond
435,Maricá,BR,1616220142,-22.9194,-42.8186,79.00,88,0,4.61,Pousada Bela Vista Maricá
481,Touros,BR,1616220152,-5.1989,-35.4608,77.00,88,0,4.61,Hotel Vila Gale Touros
494,Manta,EC,1616220155,-0.9500,-80.7333,77.00,88,0,3.44,Hotel Vistalmar
546,São João da Barra,BR,1616220167,-21.6403,-41.0511,75.40,91,0,9.82,Pousada Kactus
554,São José da Coroa Grande,BR,1616220168,-8.8978,-35.1478,76.86,82,0,5.44,Bangalôs de Peroba
566,Lima,PE,1616219912,-12.0432,-77.0282,73.00,88,0,9.22,Hotel Diamond

In [101]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [102]:
# Add marker layer ontop of heat map
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]
)
# Display figure
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)
# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…